apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-worker
  labels: &WorkerDeploymentLabels
    app: "{{ .Release.Name }}"
    name: "{{ .Release.Name }}"
    component: worker
spec:
  selector:
    matchLabels: *WorkerDeploymentLabels
  replicas: {{ .Values.worker.replicas }}
  template:
    metadata:
      labels: *WorkerDeploymentLabels
    spec:
      {{- if .Values.securityContext }}
      securityContext:
        {{- toYaml .Values.containerSecurityContext | nindent 8 }}
      {{- end }}
      serviceAccountName: "{{ .Values.serviceAccount }}"
      containers:
        - name: worker
          image: "{{ .Values.worker.image.repository }}:{{ .Values.worker.image.tag }}"
          args:
            - "celery"
            - "-A"
            - "worker.main"
            - "worker"
            - "--loglevel=info"
          env:
            - name: CELERY_BROKER_URL
              value: "redis://:{{ .Values.redis.password }}@{{ .Release.Name }}-redis-service:6379"
            - name: CELERY_BACKEND_URL
              value: "redis://:{{ .Values.redis.password }}@{{ .Release.Name }}-redis-service:6379"
            - name: REPORTING_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.reportingSecret }}
                  key: reporting-key
            - name: CONSUMER_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.reportingSecret }}
                  key: consumer-id
            - name: ENTITLEMENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.reportingSecret }}
                  key: entitlement-id
            - name: SDK_GCP_ENABLED
              value: "TRUE"
            - name: SDK_GCP_METRIC_ID
              value: "time"
            - name: SERVICE_NAME
              value: "synthesized-sdk.endpoints.synthesized-marketplace-public.cloud.goog"
          {{- range $key, $val := .Values.worker.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
          {{- end }}
          envFrom:
            - secretRef:
              {{- if .Values.worker.secretRef}}
                name: {{ .Values.worker.secretRef }}
              {{- else}}
                name: {{ .Release.Name }}-worker-secret
              {{- end}}
